
<style>
  *{
    margin: 0;
    margin-bottom: 80px;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
    
}
body{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 80vh;
    background-size: cover;
    
    background-color: rgba(11, 156, 246, 0.212);
    
}
form{
    margin-top: -140px;
    margin-bottom: 20px;
    background-color: rgba(11, 156, 246, 0.212);
    text-align: center;
    border-radius: 50px;
    box-shadow: 0px 4px 8px 10px rgba(0, 0, 0, 0), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.field{position: relative;
top: 60px;
right: 5px;
    display: block;
    width: 350px;
    height: 40px;
    margin: 20px;
    border: none;
    outline: none;
    font-size: 20px;
    border-bottom: 1px solid rgb(11, 156, 246);
    background: transparent;
    
}
h1{position: relative;
    top: -10px;
}
.input{
    display: block;
    width: 350px;
    height: 40px;
    margin: 20px;
    border: none;
    outline: none;
    font-size: 20px;
    border-bottom: 1px solid rgb(11, 156, 246);
    background: transparent;
    
}
.button{
    width: 75%;
    height: 60px;
    font-size: 20px;
    background-color: rgb(11, 156, 246);
    border: 1px solid black;
    color: white;
    margin-top: 80px;
    margin-bottom: 40px;
    cursor: pointer;
    border-radius: 22px;
}
.login{
  position: relative;
  left: 90px;
  margin-top: -108px;
  margin-bottom: 30px;
  font-size: 26px;
  text-decoration: underline;
  color: #03a9f4;
}
#text{
  position: relative;
  left: -56px;
  margin-top: -100px;
  font-size: 20px;
}
</style>

<h1>Sign-Up</h1>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    
    <%= f.text_field :Fname, autofocus: true, autocomplete: "Fname", placeholder: "First Name", class: 'input' %>
  </div>

   <div class="field">
    
    <%= f.text_field :Lname, autofocus: true, autocomplete: "Lname", placeholder: "Last Name", class: 'input'  %>
  </div>

   <div class="field">
    
    <%= f.text_field :Phone, autofocus: true, autocomplete: "Phone", placeholder: "Phone", class: 'input'  %>
  </div>

   <div class="field">
    
    <%= f.text_field :Address, autofocus: true, autocomplete: "Address", placeholder: "Address", class: 'input'  %>
  </div>
 
  <div class="field">
    
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email address", class: 'input'  %>
  </div>

  <div class="field">
    <%= f.password_field :password, autocomplete: "new-password", placeholder: "Password(Min. 6 Characters)", class: 'input'    %>
  </div>

  <div class="field">
    <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "Confirm password", class: 'input' %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up", class: 'button' %>
  </div>
<% end %>
<p id="text">Already Registered?</p>
<%= link_to "Log in", new_session_path(resource_name), class: 'login' %>
