
  <style>
    table, th, td{
        border: 1px solid black;
        border-collapse: collapse;
    }
    td, th{
        font-size: 30px;
    }
  </style>
  
      <table>
        <thead>
            <tr>
    <th style="width:5%">First Name</th>
    <th style="width:5%">Last Name</th>
    <th style="width:5%">Phone Number</th>
    <th style="width:5%">Address</th>
    <th style="width:5%">Email</th>
            </tr>
        </thead>
        <tbody>
        <% @var.each do |j| %>
  <tr>
    <td><%= j.Fname %></td>
    <td><%= j.Lname %></td>
    <td><%= j.Phone %></td>
    <td><%= j.Address %></td>
    <td><%= j.email %></td>
  </tr>
  <% end %>
  </tbody>
</table>


      
      
  